/* 规则 */
*, ::before, ::after { box-sizing: border-box; }

:root { scroll-padding: 0px; }

:root, :host { --geist-space: 4px; --geist-space-2x: 8px; --geist-space-3x: 12px; --geist-space-4x: 16px; --geist-space-6x: 24px; --geist-space-8x: 32px; --geist-space-10x: 40px; --geist-space-16x: 64px; --geist-space-24x: 96px; --geist-space-32x: 128px; --geist-space-48x: 192px; --geist-space-64x: 256px; --geist-space-small: 32px; --geist-space-medium: 40px; --geist-space-large: 48px; --geist-space-gap: 24px; --geist-space-gap-half: 12px; --geist-space-gap-quarter: var(--geist-space-2x); --geist-gap: var(--geist-space-gap); --geist-gap-half: var(--geist-space-gap-half); --geist-gap-quarter: var(--geist-space-gap-quarter); --geist-gap-double: var(--geist-space-large); --geist-gap-section: var(--geist-space-small); --geist-space-negative: -4px; --geist-space-2x-negative: -8px; --geist-space-4x-negative: -16px; --geist-space-8x-negative: -32px; --geist-space-16x-negative: -64px; --geist-space-24x-negative: -96px; --geist-space-32x-negative: -128px; --geist-space-48x-negative: -192px; --geist-space-64x-negative: -256px; --geist-space-small-negative: -32px; --geist-space-medium-negative: -40px; --geist-space-large-negative: -48px; --geist-space-gap-negative: -24px; --geist-space-gap-half-negative: -12px; --geist-space-gap-quarter-negative: var(--geist-space-2x-negative); --geist-gap-negative: var(--geist-space-gap-negative); --geist-gap-half-negative: var(--geist-space-gap-half-negative); --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative); --geist-gap-double-negative: var(--geist-space-large-negative); --geist-page-margin: var(--geist-space-gap); --geist-page-width: 1200px; --geist-page-width-with-margin: calc(var(--geist-page-width) + calc(2*var(--geist-page-margin))); --ds-page-width: 1400px; --ds-page-width-with-margin: calc(var(--ds-page-width) + calc(2*var(--geist-page-margin))); --geist-radius: 6px; --geist-marketing-radius: 8px; --geist-text-gradient: linear-gradient(180deg,rgba(0,0,0,.8) 0%,#000 100%); --font-sans-fallback: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; --font-mono-fallback: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace; --font-space-grotesk: Space Grotesk,var(--font-sans); --header-height: 64px; --header-zindex: 75; --header-border-bottom: 0 1px 0 0 rgba(0,0,0,.1); --header-sub-menu-height: 46px; --header-import-flow-background: rgba(250,250,250,.8); --geist-form-large-font: 1rem; --geist-form-large-line-height: 1.5rem; --geist-form-large-height: var(--geist-space-large); --geist-form-small-font: .875rem; --geist-form-small-line-height: .875rem; --geist-form-small-height: var(--geist-space-small); --geist-form-font: .875rem; --geist-form-line-height: 1.25rem; --geist-form-height: var(--geist-space-medium); --ds-shadow-background-border: 0 0 0 1px var(--ds-background-200); --ds-shadow-border-base: 0 0 0 1px rgba(0,0,0,.08); --ds-shadow-border-inset: inset 0 0 0 1px rgba(0,0,0,.08); --ds-shadow-border: var(--ds-shadow-border-base),var(--ds-shadow-background-border); --ds-shadow-small: 0px 2px 2px rgba(0,0,0,.04); --ds-shadow-border-small: var(--ds-shadow-border-base),var(--ds-shadow-small),var(--ds-shadow-background-border); --ds-shadow-medium: 0px 2px 2px rgba(0,0,0,.04),0px 8px 8px -8px rgba(0,0,0,.04); --ds-shadow-border-medium: var(--ds-shadow-border-base),var(--ds-shadow-medium),var(--ds-shadow-background-border); --ds-shadow-large: 0px 2px 2px rgba(0,0,0,.04),0px 8px 16px -4px rgba(0,0,0,.04); --ds-shadow-border-large: var(--ds-shadow-border-base),var(--ds-shadow-large),var(--ds-shadow-background-border); --ds-shadow-tooltip: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px rgba(0,0,0,.04),var(--ds-shadow-background-border); --ds-shadow-menu: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06),var(--ds-shadow-background-border); --ds-shadow-modal: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06),var(--ds-shadow-background-border); --ds-shadow-fullscreen: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06),var(--ds-shadow-background-border); --ds-focus-ring: 0 0 0 2px var(--ds-background-100),0 0 0 4px var(--ds-focus-color); --ds-focus-ring-outline: 2px solid var(--ds-focus-color); --ds-overlay-backdrop-color: var(--ds-background-200); --ds-overlay-backdrop-opacity: .8; --ds-motion-timing-swift: cubic-bezier(.175,.885,.32,1.1); --ds-motion-overlay-scale: .96; --ds-motion-overlay-timing: var(--ds-motion-timing-swift); --ds-motion-overlay-duration: .3s; --ds-motion-popover-timing: var(--ds-motion-timing-swift); --ds-motion-popover-duration: .2s; font-size: 16px; }

body { --caveats-toggle-false: #fff; --caveats-toggle-true: var(--ds-blue-700); }

html { --banner-height: 0px; --vh100-offset: calc(var(--header-height) + var(--banner-height)); }

:where(html, body) { min-height: 100%; }

html, body, :host { text-rendering: optimizelegibility; background-color: var(--geist-background); color: var(--ds-gray-1000); scroll-padding-top: var(--header-height); text-size-adjust: 100%; -webkit-font-smoothing: antialiased; font-feature-settings: "liga"; }

html, html body, :host { font-family: var(--font-sans,var(--font-sans-fallback)); }

.geist_mono_98cac566-module__bcNCwW__variable { --font-mono: "Geist Mono",ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; }

.geist_1620151b-module__2VSEvG__variable { --font-sans: "Geist",Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; }

.next-mark-module__boTfIW__root[data-theme="dark"] [data-circle] { stroke: rgb(255, 255, 255); stroke-width: 5%; }

html.has-banner { --banner-height: 40px; }

html.banner-hidden { --banner-height: 0px; }

.dark-theme .next-mark-module__boTfIW__root:not([data-theme="light"]) [data-circle] { stroke: rgb(255, 255, 255); stroke-width: 5%; }

.vercel-ai-gateway-module__AYj_yq__image[data-variant="mobile"], .vercel-ai-gateway-module__AYj_yq__image[data-theme="dark"] { display: none; }

.dark-theme .vercel-ai-gateway-module__AYj_yq__image[data-theme="dark"][data-variant="desktop"] { display: block; }

.dark-theme .vercel-ai-gateway-module__AYj_yq__image[data-theme="light"] { display: none; }

:root, :host, .dark, .dark-theme, .invert-theme { --ds-gray-100: hsla(var(--ds-gray-100-value),1); --ds-gray-200: hsla(var(--ds-gray-200-value),1); --ds-gray-300: hsla(var(--ds-gray-300-value),1); --ds-gray-400: hsla(var(--ds-gray-400-value),1); --ds-gray-500: hsla(var(--ds-gray-500-value),1); --ds-gray-600: hsla(var(--ds-gray-600-value),1); --ds-gray-700: hsla(var(--ds-gray-700-value),1); --ds-gray-800: hsla(var(--ds-gray-800-value),1); --ds-gray-900: hsla(var(--ds-gray-900-value),1); --ds-gray-1000: hsla(var(--ds-gray-1000-value),1); --ds-blue-100: hsla(var(--ds-blue-100-value),1); --ds-blue-200: hsla(var(--ds-blue-200-value),1); --ds-blue-300: hsla(var(--ds-blue-300-value),1); --ds-blue-400: hsla(var(--ds-blue-400-value),1); --ds-blue-500: hsla(var(--ds-blue-500-value),1); --ds-blue-600: hsla(var(--ds-blue-600-value),1); --ds-blue-700: hsla(var(--ds-blue-700-value),1); --ds-blue-800: hsla(var(--ds-blue-800-value),1); --ds-blue-900: hsla(var(--ds-blue-900-value),1); --ds-blue-1000: hsla(var(--ds-blue-1000-value),1); --ds-amber-100: hsla(var(--ds-amber-100-value),1); --ds-amber-200: hsla(var(--ds-amber-200-value),1); --ds-amber-300: hsla(var(--ds-amber-300-value),1); --ds-amber-400: hsla(var(--ds-amber-400-value),1); --ds-amber-500: hsla(var(--ds-amber-500-value),1); --ds-amber-600: hsla(var(--ds-amber-600-value),1); --ds-amber-700: hsla(var(--ds-amber-700-value),1); --ds-amber-800: hsla(var(--ds-amber-800-value),1); --ds-amber-900: hsla(var(--ds-amber-900-value),1); --ds-amber-1000: hsla(var(--ds-amber-1000-value),1); --ds-red-100: hsla(var(--ds-red-100-value),1); --ds-red-200: hsla(var(--ds-red-200-value),1); --ds-red-300: hsla(var(--ds-red-300-value),1); --ds-red-400: hsla(var(--ds-red-400-value),1); --ds-red-500: hsla(var(--ds-red-500-value),1); --ds-red-600: hsla(var(--ds-red-600-value),1); --ds-red-700: hsla(var(--ds-red-700-value),1); --ds-red-800: hsla(var(--ds-red-800-value),1); --ds-red-900: hsla(var(--ds-red-900-value),1); --ds-red-1000: hsla(var(--ds-red-1000-value),1); --ds-green-100: hsla(var(--ds-green-100-value),1); --ds-green-200: hsla(var(--ds-green-200-value),1); --ds-green-300: hsla(var(--ds-green-300-value),1); --ds-green-400: hsla(var(--ds-green-400-value),1); --ds-green-500: hsla(var(--ds-green-500-value),1); --ds-green-600: hsla(var(--ds-green-600-value),1); --ds-green-700: hsla(var(--ds-green-700-value),1); --ds-green-800: hsla(var(--ds-green-800-value),1); --ds-green-900: hsla(var(--ds-green-900-value),1); --ds-green-1000: hsla(var(--ds-green-1000-value),1); --ds-teal-100: hsla(var(--ds-teal-100-value),1); --ds-teal-200: hsla(var(--ds-teal-200-value),1); --ds-teal-300: hsla(var(--ds-teal-300-value),1); --ds-teal-400: hsla(var(--ds-teal-400-value),1); --ds-teal-500: hsla(var(--ds-teal-500-value),1); --ds-teal-600: hsla(var(--ds-teal-600-value),1); --ds-teal-700: hsla(var(--ds-teal-700-value),1); --ds-teal-800: hsla(var(--ds-teal-800-value),1); --ds-teal-900: hsla(var(--ds-teal-900-value),1); --ds-teal-1000: hsla(var(--ds-teal-1000-value),1); --ds-purple-100: hsla(var(--ds-purple-100-value),1); --ds-purple-200: hsla(var(--ds-purple-200-value),1); --ds-purple-300: hsla(var(--ds-purple-300-value),1); --ds-purple-400: hsla(var(--ds-purple-400-value),1); --ds-purple-500: hsla(var(--ds-purple-500-value),1); --ds-purple-600: hsla(var(--ds-purple-600-value),1); --ds-purple-700: hsla(var(--ds-purple-700-value),1); --ds-purple-800: hsla(var(--ds-purple-800-value),1); --ds-purple-900: hsla(var(--ds-purple-900-value),1); --ds-purple-1000: hsla(var(--ds-purple-1000-value),1); --ds-pink-100: hsla(var(--ds-pink-100-value),1); --ds-pink-200: hsla(var(--ds-pink-200-value),1); --ds-pink-300: hsla(var(--ds-pink-300-value),1); --ds-pink-400: hsla(var(--ds-pink-400-value),1); --ds-pink-500: hsla(var(--ds-pink-500-value),1); --ds-pink-600: hsla(var(--ds-pink-600-value),1); --ds-pink-700: hsla(var(--ds-pink-700-value),1); --ds-pink-800: hsla(var(--ds-pink-800-value),1); --ds-pink-900: hsla(var(--ds-pink-900-value),1); --ds-pink-1000: hsla(var(--ds-pink-1000-value),1); --ds-background-100: hsla(var(--ds-background-100-value),1); --ds-background-200: hsla(var(--ds-background-200-value),1); }

.dark, .dark-theme, .invert-theme { --ds-gray-100-value: 0,0%,10%; --ds-gray-200-value: 0,0%,12%; --ds-gray-300-value: 0,0%,16%; --ds-gray-400-value: 0,0%,18%; --ds-gray-500-value: 0,0%,27%; --ds-gray-600-value: 0,0%,53%; --ds-gray-700-value: 0,0%,56%; --ds-gray-800-value: 0,0%,49%; --ds-gray-900-value: 0,0%,63%; --ds-gray-1000-value: 0,0%,93%; --ds-blue-100-value: 216,50%,12%; --ds-blue-200-value: 214,59%,15%; --ds-blue-300-value: 213,71%,20%; --ds-blue-400-value: 212,78%,23%; --ds-blue-500-value: 211,86%,27%; --ds-blue-600-value: 206,100%,50%; --ds-blue-700-value: 212,100%,48%; --ds-blue-800-value: 212,100%,41%; --ds-blue-900-value: 210,100%,66%; --ds-blue-1000-value: 206,100%,96%; --ds-red-100-value: 357,37%,12%; --ds-red-200-value: 357,46%,16%; --ds-red-300-value: 356,54%,22%; --ds-red-400-value: 357,55%,26%; --ds-red-500-value: 357,60%,32%; --ds-red-600-value: 358,75%,59%; --ds-red-700-value: 358,75%,59%; --ds-red-800-value: 358,69%,52%; --ds-red-900-value: 358,100%,69%; --ds-red-1000-value: 353,90%,96%; --ds-amber-100-value: 35,100%,8%; --ds-amber-200-value: 32,100%,10%; --ds-amber-300-value: 33,100%,15%; --ds-amber-400-value: 35,100%,17%; --ds-amber-500-value: 35,91%,22%; --ds-amber-600-value: 39,85%,49%; --ds-amber-700-value: 39,100%,57%; --ds-amber-800-value: 35,100%,52%; --ds-amber-900-value: 39,90%,50%; --ds-amber-1000-value: 40,94%,93%; --ds-green-100-value: 136,50%,9%; --ds-green-200-value: 137,50%,12%; --ds-green-300-value: 136,50%,14%; --ds-green-400-value: 135,70%,16%; --ds-green-500-value: 135,70%,23%; --ds-green-600-value: 135,70%,34%; --ds-green-700-value: 131,41%,46%; --ds-green-800-value: 132,43%,39%; --ds-green-900-value: 131,43%,57%; --ds-green-1000-value: 136,73%,94%; --ds-teal-100-value: 169,78%,7%; --ds-teal-200-value: 170,74%,9%; --ds-teal-300-value: 171,75%,13%; --ds-teal-400-value: 171,85%,13%; --ds-teal-500-value: 172,85%,20%; --ds-teal-600-value: 172,85%,32%; --ds-teal-700-value: 173,80%,36%; --ds-teal-800-value: 173,83%,30%; --ds-teal-900-value: 174,90%,41%; --ds-teal-1000-value: 166,71%,93%; --ds-purple-100-value: 283,30%,12%; --ds-purple-200-value: 281,38%,16%; --ds-purple-300-value: 279,44%,23%; --ds-purple-400-value: 277,46%,28%; --ds-purple-500-value: 274,49%,35%; --ds-purple-600-value: 272,51%,54%; --ds-purple-700-value: 272,51%,54%; --ds-purple-800-value: 272,47%,45%; --ds-purple-900-value: 275,80%,71%; --ds-purple-1000-value: 281,73%,96%; --ds-pink-100-value: 335,32%,12%; --ds-pink-200-value: 335,43%,16%; --ds-pink-300-value: 335,47%,21%; --ds-pink-400-value: 335,51%,22%; --ds-pink-500-value: 335,57%,27%; --ds-pink-600-value: 336,75%,40%; --ds-pink-700-value: 336,80%,58%; --ds-pink-800-value: 336,74%,51%; --ds-pink-900-value: 341,90%,67%; --ds-pink-1000-value: 333,90%,96%; --ds-gray-alpha-100: rgba(255,255,255,.06); --ds-gray-alpha-200: rgba(255,255,255,.09); --ds-gray-alpha-300: rgba(255,255,255,.13); --ds-gray-alpha-400: rgba(255,255,255,.14); --ds-gray-alpha-500: rgba(255,255,255,.24); --ds-gray-alpha-600: rgba(255,255,255,.51); --ds-gray-alpha-700: rgba(255,255,255,.54); --ds-gray-alpha-800: rgba(255,255,255,.47); --ds-gray-alpha-900: rgba(255,255,255,.61); --ds-gray-alpha-1000: rgba(255,255,255,.92); --ds-background-100-value: 0,0%,4%; --ds-background-200-value: 0,0%,0%; --ds-focus-border: 0 0 0 1px var(--ds-gray-alpha-600),0px 0px 0px 4px rgba(255,255,255,.24); --ds-focus-color: var(--ds-blue-900); --ds-shadow-border-inset: inset 0 0 0 1px rgba(255,255,255,.1); }

:root, :host, .dark .invert-theme, .dark-theme .invert-theme { --ds-gray-100-value: 0,0%,95%; --ds-gray-200-value: 0,0%,92%; --ds-gray-300-value: 0,0%,90%; --ds-gray-400-value: 0,0%,92%; --ds-gray-500-value: 0,0%,79%; --ds-gray-600-value: 0,0%,66%; --ds-gray-700-value: 0,0%,56%; --ds-gray-800-value: 0,0%,49%; --ds-gray-900-value: 0,0%,40%; --ds-gray-1000-value: 0,0%,9%; --ds-blue-100-value: 212,100%,97%; --ds-blue-200-value: 210,100%,96%; --ds-blue-300-value: 210,100%,94%; --ds-blue-400-value: 209,100%,90%; --ds-blue-500-value: 209,100%,80%; --ds-blue-600-value: 208,100%,66%; --ds-blue-700-value: 212,100%,48%; --ds-blue-800-value: 212,100%,41%; --ds-blue-900-value: 211,100%,42%; --ds-blue-1000-value: 211,100%,15%; --ds-red-100-value: 0,100%,97%; --ds-red-200-value: 0,100%,96%; --ds-red-300-value: 0,100%,95%; --ds-red-400-value: 0,90%,92%; --ds-red-500-value: 0,82%,85%; --ds-red-600-value: 359,90%,71%; --ds-red-700-value: 358,75%,59%; --ds-red-800-value: 358,70%,52%; --ds-red-900-value: 358,66%,48%; --ds-red-1000-value: 355,49%,15%; --ds-amber-100-value: 39,100%,95%; --ds-amber-200-value: 44,100%,92%; --ds-amber-300-value: 43,96%,90%; --ds-amber-400-value: 42,100%,78%; --ds-amber-500-value: 38,100%,71%; --ds-amber-600-value: 36,90%,62%; --ds-amber-700-value: 39,100%,57%; --ds-amber-800-value: 35,100%,52%; --ds-amber-900-value: 30,100%,32%; --ds-amber-1000-value: 20,79%,17%; --ds-green-100-value: 120,60%,96%; --ds-green-200-value: 120,60%,95%; --ds-green-300-value: 120,60%,91%; --ds-green-400-value: 122,60%,86%; --ds-green-500-value: 124,60%,75%; --ds-green-600-value: 125,60%,64%; --ds-green-700-value: 131,41%,46%; --ds-green-800-value: 132,43%,39%; --ds-green-900-value: 133,50%,32%; --ds-green-1000-value: 128,29%,15%; --ds-teal-100-value: 169,70%,96%; --ds-teal-200-value: 167,70%,94%; --ds-teal-300-value: 168,70%,90%; --ds-teal-400-value: 170,70%,85%; --ds-teal-500-value: 170,70%,72%; --ds-teal-600-value: 170,70%,57%; --ds-teal-700-value: 173,80%,36%; --ds-teal-800-value: 173,83%,30%; --ds-teal-900-value: 174,91%,25%; --ds-teal-1000-value: 171,80%,13%; --ds-purple-100-value: 276,100%,97%; --ds-purple-200-value: 277,87%,97%; --ds-purple-300-value: 274,78%,95%; --ds-purple-400-value: 276,71%,92%; --ds-purple-500-value: 274,70%,82%; --ds-purple-600-value: 273,72%,73%; --ds-purple-700-value: 272,51%,54%; --ds-purple-800-value: 272,47%,45%; --ds-purple-900-value: 274,71%,43%; --ds-purple-1000-value: 276,100%,15%; --ds-pink-100-value: 330,100%,96%; --ds-pink-200-value: 340,90%,96%; --ds-pink-300-value: 340,82%,94%; --ds-pink-400-value: 341,76%,91%; --ds-pink-500-value: 340,75%,84%; --ds-pink-600-value: 341,75%,73%; --ds-pink-700-value: 336,80%,58%; --ds-pink-800-value: 336,74%,51%; --ds-pink-900-value: 336,65%,45%; --ds-pink-1000-value: 333,74%,15%; --ds-gray-alpha-100: rgba(0,0,0,.05); --ds-gray-alpha-200: rgba(0,0,0,.082); --ds-gray-alpha-300: rgba(0,0,0,.1); --ds-gray-alpha-400: rgba(0,0,0,.08); --ds-gray-alpha-500: rgba(0,0,0,.21); --ds-gray-alpha-600: rgba(0,0,0,.34); --ds-gray-alpha-700: rgba(0,0,0,.44); --ds-gray-alpha-800: rgba(0,0,0,.51); --ds-gray-alpha-900: rgba(0,0,0,.61); --ds-gray-alpha-1000: rgba(0,0,0,.91); --ds-background-100-value: 0,0%,100%; --ds-background-200-value: 0,0%,98%; --ds-contrast-fg: #fff; --ds-focus-border: 0 0 0 1px var(--ds-gray-alpha-600),0px 0px 0px 4px rgba(0,0,0,.16); --ds-focus-color: var(--ds-blue-700); --vaul-overlay-background: 255,255,255; --vaul-overlay-background-start: transparent; --vaul-overlay-background-end: rgba(0,0,0,.4); }

:root, :host, .dark .invert-theme, .dark-theme .invert-theme, .geist-disabled .geist-disabled-skip { --geist-success-lighter: #d3e5ff; --geist-success-light: #3291ff; --geist-success: #0070f3; --geist-success-dark: #0761d1; --geist-error-lighter: #f7d4d6; --geist-error-light: #ff1a1a; --geist-error: #e00; --geist-error-dark: #c50000; --geist-warning-lighter: #ffefcf; --geist-warning-light: #f7b955; --geist-warning: #f5a623; --geist-warning-dark: #ab570a; --geist-violet-lighter: #d8ccf1; --geist-violet-light: #8a63d2; --geist-violet: #7928ca; --geist-violet-dark: #4c2889; --geist-violet-background: #fff; --geist-violet-background-secondary: #291c3a; --geist-violet-background-tertiary: #eae5f4; --geist-background-rgb: 255,255,255; --geist-foreground-rgb: 0,0,0; --geist-console-header: #efe7ed; --geist-console-purple: #7928ca; --geist-console-text-color-default: var(--geist-foreground); --geist-console-text-color-blue: #0070f3; --geist-console-text-color-pink: #eb367f; --geist-console-text-color-purple: #7928ca; --geist-cyan-lighter: #aaffec; --geist-cyan-light: #79ffe1; --geist-cyan: #50e3c2; --geist-cyan-dark: #29bc9b; --geist-highlight-purple: #f81ce5; --geist-highlight-magenta: #eb367f; --geist-highlight-pink: #ff0080; --geist-highlight-yellow: #fff500; --geist-foreground: #000; --geist-background: #fff; --geist-selection: var(--ds-gray-1000); --geist-selection-text-color: var(--ds-gray-100); --accents-1: #fafafa; --accents-2: #eaeaea; --accents-3: #999; --accents-4: #888; --accents-5: #666; --accents-6: #444; --accents-7: #333; --accents-8: #111; --geist-link-color: var(--ds-blue-700); --geist-marketing-gray: #fafbfc; --geist-code: var(--geist-foreground); --geist-secondary-lighter: var(--accents-2); --geist-secondary-light: var(--accents-3); --geist-secondary: var(--accents-5); --geist-secondary-dark: var(--accents-7); --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02); --dropdown-triangle-stroke: #fff; --scroller-start: #fff; --scroller-end: rgba(255,255,255,0); --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1); --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12); --shadow-small: 0 5px 10px rgba(0,0,0,.12); --shadow-medium: 0 8px 30px rgba(0,0,0,.12); --shadow-large: 0 30px 60px rgba(0,0,0,.12); --shadow-hover: 0 30px 60px rgba(0,0,0,.12); --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12); --wv-green: #0cce6b; --wv-orange: #ffa400; --wv-red: #ff4e42; --develop-start-gradient: #007cf0; --develop-end-gradient: #00dfd8; --develop-line-end: #019ae9; --develop-text: #0a72ef; --preview-start-gradient: #7928ca; --preview-end-gradient: #ff0080; --preview-line-end: #9a1fb8; --preview-text: #de1d8d; --ship-start-gradient: #ff4d4d; --ship-end-gradient: #f9cb28; --ship-line-end: #f9cb28; --ship-text: #ff5b4f; --next-icon-border: #000; }

.dark-theme, .invert-theme, .dark, .dark-theme .geist-disabled .geist-disabled-skip { --geist-foreground: #fff; --geist-background: #000; --accents-8: #fafafa; --accents-7: #eaeaea; --accents-6: #999; --accents-5: #888; --accents-4: #666; --accents-3: #444; --accents-2: #333; --accents-1: #111; --geist-secondary-lighter: var(--accents-2); --geist-secondary-light: var(--accents-3); --geist-secondary: var(--accents-5); --geist-secondary-dark: var(--accents-7); --geist-link-color: var(--ds-blue-900); --geist-marketing-gray: var(--accents-1); --geist-code: var(--geist-foreground); --geist-error-light: #f33; --geist-error: red; --geist-error-dark: #e60000; --geist-text-gradient: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.75) 100%); --dropdown-box-shadow: 0 0 0 1px var(--accents-2); --dropdown-triangle-stroke: #333; --scroller-start: #000; --scroller-end: transparent; --header-border-bottom: 0 1px 0 0 rgba(255,255,255,.1); --header-import-flow-background: rgba(17,17,17,.8); --shadow-smallest: 0 0 0 1px var(--accents-2); --shadow-extra-small: 0 0 0 1px var(--accents-2); --shadow-small: 0 0 0 1px var(--accents-2); --shadow-medium: 0 0 0 1px var(--accents-2); --shadow-large: 0 0 0 1px var(--accents-2); --shadow-sticky: 0 0 0 1px var(--accents-2); --shadow-hover: 0 0 0 1px var(--geist-foreground); --geist-violet-background: #291d3a; --geist-violet-background-secondary: #211830; --geist-violet-background-tertiary: #211830; --geist-background-rgb: 0,0,0; --geist-foreground-rgb: 255,255,255; --geist-console-header: #0f0310; --geist-console-purple: #8a63d2; --geist-console-text-color-default: var(--geist-foreground); --geist-console-text-color-blue: #3291ff; --geist-console-text-color-pink: #eb367f; --next-icon-border: #fff; --ds-shadow-background-border: 0 0 0 1px var(--ds-background-200); --ds-shadow-border-base: 0 0 0 1px rgba(255,255,255,.145); --ds-shadow-border: var(--ds-shadow-border-base),var(--ds-shadow-background-border); --ds-shadow-small: 0px 1px 2px rgba(0,0,0,.16); --ds-shadow-border-small: var(--ds-shadow-border-base),var(--ds-shadow-small),var(--ds-shadow-background-border); --ds-shadow-medium: 0px 2px 2px rgba(0,0,0,.32),0px 8px 8px -8px rgba(0,0,0,.16); --ds-shadow-border-medium: var(--ds-shadow-border-base),var(--ds-shadow-medium),var(--ds-shadow-background-border); --ds-shadow-large: 0px 2px 2px rgba(0,0,0,.04),0px 8px 16px -4px rgba(0,0,0,.04); --ds-shadow-border-large: var(--ds-shadow-border-base),var(--ds-shadow-large),var(--ds-shadow-background-border); --ds-shadow-tooltip: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px rgba(0,0,0,.04),var(--ds-shadow-background-border); --ds-shadow-menu: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06),var(--ds-shadow-background-border); --ds-shadow-modal: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06),var(--ds-shadow-background-border); --ds-shadow-fullscreen: var(--ds-shadow-border-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06),var(--ds-shadow-background-border); --ds-focus-ring: 0 0 0 2px var(--ds-background-100),0 0 0 4px var(--ds-focus-color); --geist-selection: var(--ds-gray-1000); --geist-selection-text-color: var(--ds-gray-100); }

/* 动画 */
@keyframes cursor-module__AEUiAq__float { 
  0% { transform: translate(0px); }
  50% { transform: translate(var(--x),var(--y)); }
  100% { transform: translate(0px); }
}

@keyframes comment-module__qCxnUW__blink { 
  0% { opacity: 0; }
}

/* 媒体查询 */
@media screen and (min-width: 0) {

}

@media screen and (min-width: 601px) {

}

@media screen and (min-width: 961px) {

}

@media (prefers-reduced-motion: reduce) {

}

@media screen and (max-width: 400px) {

}

@media screen and (min-width: 401px) and (max-width: 600px) {

}

@media screen and (min-width: 601px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 960px) {

}

@media (max-width: 960px) {

}

@media (max-width: 600px) {

}

@media (max-width: 400px) {

}

@media screen and (max-height: 780px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 960px) {

}

@media (max-width: 440px) {

}

@media (hover: hover) {

}

@media (max-width: 768px) {

}

@media (prefers-reduced-motion: no-preference) {

}

@media (max-height: 690px) {

}

@media (min-width: 1248px) {

}

@media not all and (min-width: 961px) {

}

@media not all and (min-width: 601px) {

}

@media (min-width: 601px) {

}

@media (min-width: 961px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 1600px) {

}

@media not all and (min-width: 1200px) {

}

@media (min-width: 440px) {

}

@media (min-width: 500px) {

}

@media (min-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 650px) {

}

@media (color-gamut: p3) {

}

@media screen and (min-width: 601px) and (max-width: 960px) {

}

@media (max-width: 1024px) {

}

@media (min-width: 769px) {

}

@media (min-width: 769px) and (max-width: 960px) {

}

@media screen and (max-width: 427px) {

}

@media (max-width: 992px) {

}

@media (min-width: 992px) {

}

@media (min-width: 601px) and (max-width: 960px) {

}

@media (max-width: 601px) {

}

@media (min-width: 960px) {

}

@media (max-width: 640px) {

}

@media screen and (max-width: 1150px) {

}

@media (min-width: 1048px) {

}

@media (max-width: 1250px) {

}

@media (max-width: 750px) {

}

@media (min-width: 768px) {

}

@media (min-width: 48rem) {

}

@media (max-width: 768px) and (min-width: 601px) {

}

@media (prefers-reduced-motion) {

}

@media (min-width: 600px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1680px) {

}

@media (max-width: 768px) and (min-width: 501px) {

}

@media (min-width: 540px) {

}

@media (min-width: 1151px) {

}

@media (max-width: 950px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 660px) {

}

@media (max-width: 370px) {

}

@media (pointer: fine) {

}

@media (pointer: coarse) {

}

@media (min-width: 470px) and (max-width: 670px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 1200px) {

}

@media (max-width: 1108px) and (min-width: 1036px) {

}

@media screen and (min-width: 960px) {

}

@media screen and (max-width: 60rem) {

}

@media screen and (min-width: 60rem) {

}

@media (max-width: 1050px) and (min-width: 961px) {

}

@media (max-width: 450px) {

}

@media (max-width: 500px) {

}

@media (max-width: 860px) {

}

@media (max-width: 700px) {

}

@media (max-width: 399px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 900px) {

}

@media (max-width: 715px) {

}

@media (max-width: 800px) {

}

@media (max-width: 320px) {

}

@media (max-width: 850px) {

}

@media (max-width: 520px) {

}

@media (max-width: 375px) {

}

@media (max-width: 350px) {

}

@media (max-width: 383px) {

}

@media  {

}

@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 1150px) {

}